!!! 5
%html
    %head
        %title Alexandria Web - #{@data[:title]}
        %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => css('styles')}
        %link{:rel => "stylesheet", :type => "text/css", :href => css('lists')}
        %script{:type => "text/javascript", :src => js('jquery-1.4.2.min')}
        %script{:type => "text/javascript", :src => js('jquery.dataTables.min')}
        :javascript
            $(document).ready(function() {
                $('#list').dataTable({
                    'bStateSave': true,
                    'asStripClasses': ['odd','even'],
                    'sPaginationType': 'full_numbers',
                    'sDom': '<"#table_controls_top"flp>t<"#table_controls_bottom"i>'
                })
            })

        %body
            #{header('Home')}

            #content

                %table#list{:border=>1}
                    %thead
                        %tr
                            %th.isbn ISBN
                            %th.title Title
                            %th.authors Author(s)
                            %th.publisher Publisher
                            %th.year Year
                            %th.edition Edition
                            %th.notes Notes
                    %tbody
                        - @data[:books].each do |book|
                            %tr
                                %td.number.isbn #{book.isbn}
                                %td.title #{book.title}
                                %td.authors #{book.authors.join ";<br />"}
                                %td.publisher #{book.publisher}
                                %td.number.year #{book.publishing_year}
                                %td.number.edition #{book.edition}
                                %td.notes #{book.notes}