!!! 5
%html
    %head
        %title Alexandria Web - #{@data[:title]}
        %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => css('styles')}
        %link{:rel => "stylesheet", :type => "text/css", :href => css('index')}

        %body
            #{header('Home')}

            %table#list{:border=>1}
                %tr
                    %th ISBN
                    %th Title
                    %th Author(s)
                    %th Publisher
                    %th Year
                    %th Edition
                    %th Notes
                - @data[:books].each do |book|
                    %tr
                        %td #{book.isbn}
                        %td #{book.title}
                        %td #{book.authors}
                        %td #{book.publisher}
                        %td #{book.publishing_year}
                        %td #{book.edition}
                        %td #{book.notes}