!!! 5
%html
    %head
        %title Alexandria Web - #{@data[:title]}
        %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => css('styles')}
        %link{:rel => "stylesheet", :type => "text/css", :href => css('lists')}
        %script{:type => "text/javascript", :src => js('jquery-1.4.2.min')}
        %script{:type => "text/javascript", :src => js('jquery.dataTables.min')}
        :javascript
            $(document).ready(function() {
                $('#list').dataTable({
                    'bStateSave': true,
                    'asStripClasses': ['odd','even'],
                    'sPaginationType': 'full_numbers'
                })
            })

        %body
            #{header('Home')}

            %table#list{:border=>1}
                %thead
                    %tr
                        %th ISBN
                        %th Title
                        %th Author(s)
                        %th Publisher
                        %th Year
                        %th Edition
                        %th Notes
                %tbody
                    - @data[:books].each do |book|
                        %tr
                            %td.number #{book.isbn}
                            %td #{book.title}
                            %td #{book.authors}
                            %td #{book.publisher}
                            %td.number #{book.publishing_year}
                            %td.number #{book.edition}
                            %td.notes #{book.notes}